.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 332px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: #404bbf;
}

.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
  position: relative;
}

.header-logo-part {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.header-menu-list-one {
  display: flex;
  gap: 40px;
}

.header-menu-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
  display: block;
}

.header-menu-list:hover,
.header-menu-list:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-main {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-main:focus,
.header-contacts-main:hover {
  color: #404bbf;
}

.header-contacts-tel {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.main {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-s.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
}

.main-page {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding-bottom: 48px;
  max-width: 496px;
}
.main-button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.info-section {
  padding: 120px 0;
}

.content-info {
  display: flex;
  gap: 24px;
}

.content-info-list {
  width: calc((100% - 72px) / 4);
}

.content-info-svg {
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.content-info-icon {
}

.content-info-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.content-info-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team_main {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.our-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-img {
  border-radius: 0px 0px 4px 4px;
}

.our-team-div {
  padding: 32px 0;
}

.our-team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
  align-items: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-item-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-item-icon:hover,
.team-soc-item-icon:focus {
  background-color: #404bbf;
}
.team-soc-icon {
  fill: rgba(244, 244, 253, 1);
}

.our-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background: #fff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-cover-block-text {
  transform: translateY(0);
}

.portfolio-cover-block-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-footer-webstudio {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-part {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.container-footer-two {
}

.footer-text-two {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.team-soc-item-footer {
  width: 40px;
  height: 40px;
}

.team-soc-item-icon-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-item-footer :hover,
.team-soc-item-footer :focus {
  background-color: #31d0aa;
}

.team-soc-icon-footer-svg {
  fill: #f4f4fd;
}
